<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        background: skyblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        padding: 30px;
      }

      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      }

      p {
        font-size: 16px;
        text-align: centers;
      }
    </style>

    <title>Document</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <p>Welcome to the profile of: <%= person %></p>
    <p>Age: <%= data.age %></p>
    <p>Job: <%= data.job %></p>
    <h2>Hobbies</h2>
    <ul>
      <% data.hobbies.forEach((item) => { %>
      <li><%= item %></li>
      <% }); %>
    </ul>
  </body>
</html>
